.cart-container {
  padding: 60px;
}
.cart-item {
  background-color: #fff;
  margin: auto;
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-item .cart-product {
  display: flex;
  justify-content: space-between;
}
.cart-item img {
  height: 30vh;
  width: 25vw;
}
.cart-product-quantity {
  display: flex;
  align-items: "center";
}
.cart-items {
  display: flex;
  flex-direction: column;
}
.cart-product {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.cart-product button {
  background-color: red;
  height: 30px;
  color: white;
  border-radius: 5px;
  border-color: none;
}
.cart-product-quantity button {
  background-color: olive;
}
.cart-product-total-price {
  padding-left: 20px;
  margin: 5px;
}
