.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  height: 50px;
  box-shadow: 0 0 25px 0 black;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0px;
  width: 100%;
  text-decoration: none;
}
.my-logo {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-ul {
  display: flex;
}
.nav-list {
  list-style: none;
  margin: 0 0.75rem;
  text-transform: uppercase;
}

.nav-list Link {
  text-decoration: none;
  color: inherit;
}
.nav-list button{
  width: 80px;
  height: 30px;
  text-transform: uppercase;
  background: deepskyblue;
  color: #ffffff;
  border-color: #fff;
  border-radius: 5px;

}