header {
    background-color: rgb(255, 225, 255);
    position: fixed;
    left: 0;
    right: 0;
    top: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
  }
  header * {
    display: inline;
  }
  .nav {
    float: right;
    width: 70%;
    height: 100%;
    margin: none;
  }
  .nav-list {
    margin: 20px;
    float: right;
    font-weight: bolder;
  }
  .nav-list Link {
    color: #fff;
    text-decoration: none;
  }